apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  labels:
    type: local
spec:
  storageClassName: "" # 중요: PVC와 연결하기 위해 공란 유지
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/postgres" # 워커 노드의 이 경로에 데이터가 저장됨